/**************************************/
/*                                    */
/* bootstrapのcontainer幅             */
/* ブラウザの幅が                     */
/*   lg : 1,200px以上 → 1,170px      */
/*   md :   992px以上 →   970px      */
/*   sm :   768px以上 →   750px      */
/*   xs :   768px未満 → ブラウザの幅 */
/*                                    */
/**************************************/

/* #region 全体 */
html {
	background-color: #FFFFFF;
	font-size: 62.5%;
}

body {
	font-family: '游ゴシック',Yu Gothic,YuGothic,'ヒラギノ角ゴ ProN W3',Hiragino Kaku Gothic ProN,'メイリオ',Meiryo,sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #212529;
}

body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.error-msg {
	color: red;
}

@media screen and (max-width : 768px) {
    body {
        font-size: 1.4rem;
    }
}
/* #endregion 全体 */

/* #region footer */
footer {
    margin: auto 0 0;
    padding: 20px 0 50px;
    border-top: 1px solid #C0C0C0;
}

footer .copyright {
    font-size: 1.2rem;
    text-align: right;
}
/* #endregion footer */

/* #region メイン */
h1.title {
    font-size: 2.8rem;
    font-weight: bold;
	text-align: center;
	padding: 10px 0;
    margin: 0 auto 20px;
    width: 100%;
	color: #157BCA;
	border-left: solid 7px #157BCA;
	background: -webkit-repeating-linear-gradient(-45deg, #FFFCA3, #FFFCA3 3px,#FCF537 3px, #FCF537 7px);
	background: repeating-linear-gradient(-45deg, #FFFCA3, #FFFCA3 3px,#FCF537 3px, #FCF537 7px);
}

h1.title span {
    font-size: 2.0rem;
}





@media screen and (max-width : 768px) {
    h1.title {
        font-size: 1.8rem;
    }

    h1.title span {
        font-size: 1.5rem;
    }
}
/* #endregion メイン */